:root {
  --colors-black: #010101;
  --colors-white: #ffffff;
  --colors-blue: #0075de;
  --colors-dark-blue: #00529b;
  --colors-light-blue: #86c6ff;
  --colors-red: #ff4343;
  --colors-white-red: #ffeeec;

  --colors-gray-300: #828282;
  --colors-gray-400: #bdbdbd;
  --colors-gray-500: #e0e0e0;
  --colors-gray-600: #f5f5f7;
  --colors-backdrop: rgba(1, 1, 1, 0.4);

  --z-index-sidebar: 500;
  --z-index-modal: 1000;

  --shadow-todo: 0px 1px 30px rgba(224, 224, 224, 0.3);
  --shadow-sidebar: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  color: var(--colors-black);
  background-color: var(--colors-gray-600);
  overflow-y: hidden;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

li,
ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: none;
}

.button {
  padding: 10px;
  border-radius: 6px;
  color: #828282;
  background-color: #e0e0e0;
  transition: background-color 0.2s;
  font-size: 14px;
}

.button:hover {
  color: #fff;
  background-color: #828282;
}

.button.primary {
  color: #fff;
  font-weight: bold;
  background-color: #0075de;
}

.button.primary:hover {
  background-color: #00529b;
}

.button.primary:disabled {
  background-color: #86c6ff;
  cursor: default;
}

.icon > svg {
  width: 24px;
  height: 24px;
  fill: #828282;
  transition: fill 0.2s;
  cursor: pointer;
}
.icon.active > svg {
  fill: #0075de;
}

.icon > svg:hover {
  fill: #0075de;
}
.icon.close > svg:hover {
  fill: #ff4343;
}
