html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

li,
ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: none;
}

.button {
  padding: 10px;
  border-radius: 6px;
  color: #828282;
  background-color: #e0e0e0;
  transition: background-color 0.2s;
}

.button:hover {
  color: #fff;
  background-color: #828282;
}

.button.primary {
  color: #fff;
  font-weight: bold;
  background-color: #0075de;
}

.button.primary:hover {
  background-color: #00529b;
}

.button.primary:disabled {
  background-color: #86c6ff;
}

.icon > svg {
  width: 24px;
  height: 24px;
  fill: #828282;
  transition: fill 0.2s;
  cursor: pointer;
}

.icon > svg:hover {
  fill: #0075de;
}
.icon > svg.close:hover {
  fill: #ff4343;
}
