.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 28rem;
  background-color: var(--colors-white);
  box-shadow: var(--shadow-sidebar);
  z-index: var(--z-index-sidebar);
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
}

.is-sidebar-open .sidebar {
  transform: translateX(0);
}

.sidebar__header {
  height: 7rem;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar__log-list {
  padding: 0 5rem 0 2.5rem;
}

.sidebar__log {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.log__content {
  margin: 0.5rem 0;

  font-size: 1.125rem;
  line-height: 1.5rem;
}

.log__created-at {
  font-size: 0.875rem;
  color: var(--colors-gray-300);
}
