.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 32rem;
  background-color: var(--colors-white);
  box-shadow: var(--shadow-sidebar);
  z-index: var(--z-index-sidebar);
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
}

.is-sidebar-open .sidebar {
  transform: translateX(0);
}

.sidebar__header {
  height: 7rem;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
