.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  height: 7rem;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colors-gray-600);
  z-index: var(--z-index-sidebar);
}

.header__logo {
  font-size: 2rem;
}

.header__menu-btn,
.sidebar__close-btn {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  margin: 0;
  border: 0;
  border-radius: 9999px;
  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.25s ease-in;
}

.header__menu-btn:hover,
.sidebar__close-btn:hover {
  background-color: var(--colors-gray-500);
}

.header__menu-btn > svg,
.sidebar__close-btn > svg {
  width: 2rem;
  height: 2rem;
}

.sidebar__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  opacity: 0;
}

.is-sidebar-open .sidebar__backdrop {
  display: block;
}
