.todo-item {
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
}

.todo-item-inner {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);

  row-gap: 16px;
  padding: 14px;
  border-radius: 8px;
  background-color: #fff;
  user-select: none;
  cursor: move;
}

.todo-item.focus > .todo-item-inner {
  border: 1px solid #0075de;
}

.todo-item.create {
  cursor: default;
}

.todo-item.create.hidden {
  display: none;
}

.todo-item.start {
  height: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.todo-item.drag {
  position: absolute;
  margin: 0;
  padding: 0;
  min-width: 288px;
  max-width: 288px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}

.todo-item.place {
  opacity: 0.4;
}

.todo-item.delete > .todo-item-inner {
  border: 1px solid #ff4343;
  background-color: #ffeeec;
}
.todo-item.delete .icon.close > svg {
  fill: #ff4343;
}

.todo-item .icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.todo-item_btn-container {
  display: flex;
  column-gap: 8px;
}

.todo-item_btn-container > button {
  flex: 1;
}

.todo-item_content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.todo-item_content > .title {
  font-size: 16px;
  font-weight: 700;
  margin-right: 26px;
  word-break: break-all;
}

.todo-item_content > .description {
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
}

.todo-item_content > .author {
  font-size: 12px;
  color: #bdbdbd;
}

.todo-item_content > input {
  border: 0;
  background-color: none;
  padding: 2px;
}

.todo-item_content > input:focus,
.todo-item_content > textarea:focus {
  outline: none;
}

.todo-item_content > textarea {
  resize: none;
  overflow-y: visible;
  border: 0;
  min-height: 32px;
}

.todo-item_content > textarea::-webkit-scrollbar {
  display: none;
}
